.quiz-page{
    padding:30px;
}

.quiz-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.quiz-header h2{
    font-size:34px;
    font-weight:700;
}

.quiz-header p{
    color:#666;
}

.quiz-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.quiz-card{
    background:#fff;
    border-radius:18px;
    padding:25px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.quiz-card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 30px rgba(0,0,0,.12);
}

.quiz-card h3{
    margin-bottom:20px;
}

.quiz-card p{
    color:#555;
}

.quiz-card button{
    margin-top:20px;
    border-radius:10px;
}