.navbar{

    height:70px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    box-shadow:0 2px 12px rgba(0,0,0,.08);

}

.profile i{

    font-size:34px;

    color:#4F46E5;

}